a {
    text-decoration: none;
    color: inherit;
}

.underline:hover { text-decoration: underline; }

.cart-container {
    background: linear-gradient(
        45deg,
        rgba(226,226,226,0.785),
        rgba(214,214,214,0.785)
    );
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#cart-items-container {
    height: 35rem;
    overflow-y: scroll;
    border: 2px solid #00000087;
    width: 80%;
    background-color: #f3f3f3;
    border-radius: 0.5rem;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    margin: 1rem;
}

.cart-item img{
    width: 7rem;
    height: 7rem;
    border: 2px solid #dedede;
    border-radius: 0.5rem;
}

.cart-item button {
    background-color: #fff;
    border: 2px solid red;
    color: red;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.cart-item button:hover {
    background-color: red;
    color: #fff;
}

.emptt-p{
    text-align: center;
    padding: 3rem;
    font-size: 2rem;
}