.login-container {
    background: #f5f5f7;
    height: 100vh;
    width: 100vw;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    font-size: 0.8em;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #ffffff;
    padding: 25px 35px;
    color: #333;
    margin: 20px 30px;
    transition: 0.3s;
}

.login-box:hover {
    transform: translateY(-2px);
}

.login-box form .input-group {
    margin: 30px 0px;
}

.login-box form .input-group label {
    display: block;
    font-weight: 500;
    color: #333;
}

.login-box form .input-group input {
   border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 10px;
    color: #333;
    width: 100%;
    outline: none;
    transition: 0.3s;
}

.login-box form .input-group input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0,123,255,0.3);
}

.login-box form .input-group .input-lable {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-box form .do-you-have {
    font-size: smaller;
    color: #555;
    margin-top: 10px;
}

.login-box form .do-you-have a {
    color: #007bff;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

.login-box form .sumbit-btn-container {
    text-align: center;
    margin-top: 20px;
}

.login-box form .sumbit-btn-container input {
    border: none;
    border-radius: 35px;
    background-color: #007bff;
    color: white;
    padding: 3px 40px;
    font-size: 1.2em;
    letter-spacing: 2px;
    cursor: pointer; 
    transition: 0.3s;
}

.login-box form .sumbit-btn-container input:hover {
    background-color: #0056b3;
}

.login-box .social-auth {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding-top: 20px;
}

.login-box .social-auth a {
    color: #555;
    font-size: 1.7em;
    transition: 0.3s;
}

.login-box .social-auth a:hover {
    color: #007bff;
}

#hide-password {
    height: 1.5rem;
    cursor: pointer;
    color: #333;
}

.back {
    color: #888;
    font-size: 0.7rem;
}

footer {
    background-color: #636e72;
    font-size: 1em;
    transition: 0.8s;
}

footer .right {
    padding: 40px;
}

footer .right .title {
    padding: 10px 0px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

footer .right .des {
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.9em;
    font-size: 0.9em;
}

footer .left {
    padding: 40px;
}

footer .left .title {
    padding: 10px 0px;
    color: white;
    font-size: 1.2em;
}

footer .left .socials {
    display: flex;
    justify-content: space-between;
}

footer .left .socials a{
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}

footer .bottom {
    color: white;
    text-align: center;
    background-color: #2d3436;
    padding: 15px;
}