body{
    font-family: "Vazirmatn", sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

.profile-container {
    max-width: 800px;
    margin: 3rem auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    padding: 2rem;
}

.user-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
}

.user-header i {
    font-size: 2rem;
    color: #555;
}

.user-header h2 {
    margin: 0;
    font-size: 1.5rem;
}

.user-info {
    margin-bottom: 2rem;
}

.user-info p {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.favorites {
    margin-top: 2rem;
}

.favorites h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.favorites .fav-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;
    background: #f7f7f7;
    border-radius: 8px;
    padding: 0.4rem 0.6rem;
    transition: transform 0.2s ease;
}

.favorites .fav-item:hover {
    transform: scale(1.02);
}

.favorites .fav-item img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 1rem;
}

.favorites .fav-details h4 {
      margin: 0;
      font-size: 1rem;
      color: #333;
    }

.favorites .fav-details p {
  margin: 0.3rem 0 0 0;
  color: #666;
  font-size: 0.9rem;
}

.favorite-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.3s ease;
    padding: 0;
}

.favorites.open .favorite-list {
    max-height: 300px;
    overflow-y: auto;
    padding: 0.5rem 0;
}

.favorite-list::-webkit-scrollbar {
    width: 6px;
}

.favorite-list::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

#favorite-toggle {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 0.3s ease;
}

#favorite-toggle i {
    transition: transform 0.3s ease;
    font-size: 1rem;
    color: #555;
}

.favorites.open #favorite-toggle i {
    transform: rotate(180deg);
}

#favorite-toggle:hover {
    color: #333;
}

.logout-btn {
  display: block;
  width: 100%;
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 1rem;
  transition: background 0.3s;
}


.logout-btn:hover {
  background-color: #e23b3b;
}
.empty-message {
  text-align: center;
  color: #777;
  font-size: 0.95rem;
}

.back {
    color: #888;
    font-size: 0.7rem;
    padding: 0.8rem;
}

a{
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
