.search-results {
  text-align: center;
  margin: auto;
  padding: auto;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 2rem 1rem;
  font-size: 1em;
}

.shopping-card {
    text-align: center;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
    margin: 1rem 1.5rem;
    border-radius: 5px;
    padding: 10px;
}

.shopping-card .img-sec {
    position: relative;
}

.shopping-card .img-sec img{
    width: 60%;
    border-radius: 10px;
}

.shopping-card .img-sec .hot-offer{
    background-color: #e74c3c;
    color: white;
    padding: 3px 5px;
    border-radius: 10px;position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0.9em;
}

.shopping-card .title {
    color: #444;
    font-size: 1.3em;
    font-weight: bold;
    margin: 15px;
}

.shopping-card .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.shopping-card .buttons .price{
    color: #666;
    font-weight: bold;
    font-size: 1em;
}

footer {
    margin-top: 3rem;
    background-color: #636e72;
    font-size: 1em;
    transition: 0.8s;
}

footer .right {
    padding: 40px;
}

footer .right .title {
    padding: 10px 0px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

footer .right .des {
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.9em;
    font-size: 0.9em;
}

footer .left {
    padding: 40px;
}

footer .left .title {
    padding: 10px 0px;
    color: white;
    font-size: 1.2em;
}

footer .left .socials {
    display: flex;
    justify-content: space-between;
}

footer .left .socials a{
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}

footer .bottom {
    color: white;
    text-align: center;
    background-color: #2d3436;
    padding: 15px;
}