.search-results {
  text-align: center;
  margin: auto;
  padding: auto;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 2rem 1rem;
  font-size: 1em;
}

.shopping-card {
    text-align: center;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
    margin: 1rem 1.5rem;
    border-radius: 5px;
    padding: 10px;
}

.shopping-card .img-sec {
    position: relative;
}

.shopping-card .img-sec img{
    width: 60%;
    border-radius: 10px;
}

.shopping-card .img-sec .hot-offer{
    background-color: #e74c3c;
    color: white;
    padding: 3px 5px;
    border-radius: 10px;position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0.9em;
}

.shopping-card .img-sec .stars{
    position: absolute;
    left: 70px;
    top: 10px;
}

.shopping-card .img-sec .stars i {
    color: white;
    -webkit-text-stroke: 1px #444;
}

.shopping-card .img-sec .stars i.active {
    color: #f1c40f;
}

.shopping-card .title {
    color: #444;
    font-size: 1.3em;
    font-weight: bold;
    margin: 15px;
}

.shopping-card .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.shopping-card .buttons .right .price{
    color: #666;
    font-weight: bold;
}

.shopping-card .buttons .left {
    display: flex;
    justify-content: center;
    
}

.shopping-card .product-tocart-section button {
    width: 60%;
    border: none;
    outline: none;
    padding: 0.3rem;
    margin: 2rem;
    cursor: pointer;
    border-radius: 0.75rem;
    background-color: #000;
    color: #fff;
    transition: all 0.3s ease-in-out;
    font-size: 0.7rem;
}

.shopping-card .product-tocart-section button:hover {
    background-color: #e4e4e4;
    color: #000;
}

.shopping-card .favorite-product {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.shopping-card .favorite-product i {
    font-size: 1.2rem;
    color: #fff;
    -webkit-text-stroke: 1.5px black; 
    transition: all 0.25s ease-in-out;
}

.shopping-card .favorite-product:hover i {
    -webkit-text-stroke: 1.5px #ff4d4d; 
    color: #ff4d4d;
}

.shopping-card .favorite-product.active {
    background-color: transparent;
}

.shopping-card .favorite-product.active i {
    color: #ff4d4d; 
    -webkit-text-stroke: 0;
}

footer {
    margin-top: 3rem;
    background-color: #636e72;
    font-size: 1em;
    transition: 0.8s;
}

footer .right {
    padding: 40px;
}

footer .right .title {
    padding: 10px 0px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

footer .right .des {
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.9em;
    font-size: 0.9em;
}

footer .left {
    padding: 40px;
}

footer .left .title {
    padding: 10px 0px;
    color: white;
    font-size: 1.2em;
}

footer .left .socials {
    display: flex;
    justify-content: space-between;
}

footer .left .socials a{
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}

footer .bottom {
    color: white;
    text-align: center;
    background-color: #2d3436;
    padding: 15px;
}