body{
  padding: 0;
}

@font-face {
    font-family: "rokh";
    src: url(../font/rokh/Rokh-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "rokh";
    src: url(../font/rokh/Rokh-Medium.ttf);
    font-weight: 500;
}

.font-rokh {
    font-family: "rokh";
}

.search-results {
  text-align: center;
  margin: auto;
  padding: auto;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 2rem 1rem;
  font-size: 1em;
}

.shopping-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 250px;           
  text-align: center;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
  margin: 0.7rem 1.1rem;
  border-radius: 5px;
  padding: 0.7rem;
  transition: all 0.3s ease;
}

.shopping-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 14px rgba(0,0,0,0.4);
}

.shopping-card .img-sec {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopping-card .img-sec img {
  width: 70%;
  border-radius: 10px;
  object-fit: contain;
}

.shopping-card .title {
  color: #444;
  font-size: 1.4em;
  font-weight: bold;
  margin: 10px 0;
}

.shopping-card .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.shopping-card .buttons .price {
  color: #666;
  font-weight: bold;
  font-size: 1.3em;
}

footer {
    margin-top: 3rem;
    background-color: #636e72;
    font-size: 1em;
    transition: 0.8s;
}

footer .right {
    padding: 40px;
}

footer .right .title {
    padding: 10px 0px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

footer .right .des {
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.9em;
    font-size: 0.9em;
}

footer .left {
    padding: 40px;
}

footer .left .title {
    padding: 10px 0px;
    color: white;
    font-size: 1.2em;
}

footer .left .socials {
    display: flex;
    justify-content: space-between;
}

footer .left .socials a{
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}

footer .bottom {
    color: white;
    text-align: center;
    background-color: #2d3436;
    padding: 15px;
}

@media (max-width: 450px){

.shopping-card {
  margin: 0.2rem 0.3rem;
  padding: 0.3rem;
}

.shopping-card .title {
  font-size: 0.9em;
}

.shopping-card .buttons .price {
  font-size: 1em;
}
}